
.title{
    text-align: center;
}

.blogs{
    display: flex;
    align-items: center;
    justify-content: center;
}
.shakil{
    background-color: aqua;
    padding: 10px ;
    border-radius: 5px;
}